<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <div class="searchform">

    <% if current_user %>
    <%= form_tag('/interview', method: :post) %>
       Company<br>
       <input type="text" name="q">

<!---   POSTIONS DROPDOWN PANEL -->


    <div class="positions">Click to select Positions:</div>

<!---   POSTIONS DROPDOWN PANEL -->




        <ul class="jobcat scroll">
            <!-- FASHION -->

          <li class="kinds-of" value="Architecture / Drafting">
            Architecture / Drafting
          </li>
          <li class="kinds-of" value="Art / Design / Entertainment">
            Art / Design / Entertainment
          </li>
          <li class="kinds-of" value="Beauty / Wellness">
            Beauty / Wellness
          </li>
          <li class="kinds-of" value="Marketing / Advertising / PR">
            Marketing / Advertising / PR
          </li>

        <!-- CONSERVATIVE -->

        <li class="kinds-of" value="Accounting / Finance">
          Accounting / Finance
        </li>
        <li class="kinds-of" value="Administrative">
          Administrative
        </li>
        <li class="kinds-of" value="Product / Project Management">
          Product / Project Management
        </li>
        <li class="kinds-of" value="Banking / Loan / Insurance">
          Banking / Loan / Insurance
        </li>
        <li class="kinds-of" value="Human Resources">
          Human Resources
        </li>
        <li class="kinds-of" value="Legal">
          Legal
        </li>
        <li class="kinds-of" value="Medical / Healthcare">
          Medical / Healthcare
        </li>
        <li class="kinds-of" value="Real Estate">
          Real Estate
        </li>
        <li class="kinds-of" value="Science / Research">
          Science / Research
        </li>
        <li class="kinds-of" value="Senior Management">
          Senior Management
        </li>
        <li class="kinds-of" value="Human Resources">
          Human Resources
        </li>

        <!-- BUSINESS CASUAL -->
        <li class="kinds-of" value="Business Development / Consulting">
          Business Development / Consulting
        </li>
        <li class="kinds-of" value="Non-Profit / Volunteering">
          Non-Profit / Volunteering
        </li>
        <li class="kinds-of" value="Product / Project Management">
          Product / Project Management
        </li>
        <li class="kinds-of"value="Banking / Loan / Insurance">
          Banking / Loan / Insurance
        </li>
        <li class="kinds-of" value="Sales / Customer Care">
          Sales / Customer Care
        </li>
        <li class="kinds-of" value="Security / Law Enforcement">
          Security / Law Enforcement
        </li>
        <li class="kinds-of" value="Software Development">
          Software Development / IT
        </li>
        <li class="kinds-of" value="Writing / Editing / Publishing">
          Writing / Editing / Publishing
        </li>
        <li class="kinds-of" value="Other">
          Other
        </li>


          <!--  CASUAL -->
          <li class="kinds-of" value="Facilities / General Labor">
            Facilities / General Labor
          </li>
          <li class="kinds-of" value="Manufacturing / Production / Construction">
            Manufacturing / Production / Construction
          </li>
          <li class="kinds-of" value="Installation / Maintenance / Repair">
            Installation / Maintenance / Repair
          </li>
          <li class="kinds-of" value="Restaurant / Food Services">
            Restaurant / Food Services
          </li>
          <li class="kinds-of" value="Retail">
            Retail
          </li>
          <li class="kinds-of" value="Skilled Trade">
            Skilled Trade
          </li>
          <li class="kinds-of" value="Sports / Fitness">
            Sports / Fitness
          </li>
        </ul><!-- end of jobcat -->

    <!-- <div class="job-choice"> -->

        <input class="chosen-catagory" name="positions" placeholder="Options">


    <button type="submit" value="Submit">Submit</button>


</div><!--  end of searchform  -->
<% if current_user %>
  <% @reviews.each do |f| %>
  <%= button_to "#{f.position}, #{f.company}", {:controller => "interview", :action => "create", :positions => f.position, :q=> f.company} , :method=>:post  %>
  <%= button_to 'x', {:controller => "savedinterviews", :id => f.id, :action => "destroy" }, {:method => :delete} %>
  <% end %>
<% end %>

  <!-- bullets -->


  <% else %>
  <form action="/users/sign_in", method="GET">
    <button class="loginbutton"> LOGIN </button>
  </form>



    <p class="blurbtitle"> Welcome to Ready Set PreP</p>
    <!-- <p class="blurbcontent"> We are here to help you get ready for your next interview!
                            Have you ever need some guidance about prospective companies you are applying to?
                            Or need help with finding appropriate interview attire. Then this is the site for you!</p> -->

                            <!-- <div class="bulletcase">
                              <ul class="bullets">
                                <li class="bullet">
                                  <div class="bullet-icon bullet-icon-1">
                                  </div>
                                  <div class="bullet-content">
                                    <h2>Applying for the Job</h2>
                                    <p>
                                      Read and follow instructions carefully.
                                      Always take a few minutes to review the entire application.
                                    </p>
                                    <div class="modal">
                                      <label for="modal-1">
                                        <div class="modal-trigger">Read More</div>
                                      </label>
                                      <input class="modal-state" id="modal-1" type="checkbox" />
                                      <div class="modal-fade-screen">
                                        <div class="modal-inner">
                                          <div class="modal-close" for="modal-1"></div>
                                          <h1>Applying for the Job</h1>
                                          <p class="modal-intro">Tips on applying for the job you want!</p>
                                          <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                </li>
                                <li class="bullet">
                                  <div class="bullet-icon bullet-icon-2">
                                  </div>
                                  <div class="bullet-content">
                                    <h2>Prepare for Interview</h2>
                                    <p>
                                      Arrive prepared with the information you need.
                                      Be sure to bring your resume, social security card, driver’s license, etc.
                                      It’s always better if have too much information than not enough.
                                    </p>
                                    <div class="modal">
                                      <label for="modal-2">
                                        <div class="modal-trigger">Read More</div>
                                      </label>
                                      <input class="modal-state" id="modal-2" type="checkbox" />
                                      <div class="modal-fade-screen">
                                        <div class="modal-inner">
                                          <div class="modal-close" for="modal-2"></div>
                                          <h1>Prepare for Interview</h1>
                                          <p class="modal-intro">How to prepare for that interview!</p>
                                          <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                </li>
                                <li class="bullet">
                                  <div class="bullet-icon bullet-icon-3">
                                  </div>
                                  <div class="bullet-content">
                                    <h2>Get the Job</h2>
                                    <p>Be confident!</p>

                                    <div class="modal">
                                      <label for="modal-3">
                                        <div class="modal-trigger">Read More</div>
                                      </label>
                                      <input class="modal-state" id="modal-3" type="checkbox" />
                                      <div class="modal-fade-screen">
                                        <div class="modal-inner">
                                          <div class="modal-close" for="modal-3"></div>
                                          <h1>Get the Job</h1>
                                          <p class="modal-intro">How to get the job you want!</p>
                                          <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
                                        </div>
                                      </div>
                                    </div>


                                  </div>
                                </li>
                              </ul>
                            </div> -->


  <% end %>
