<!DOCTYPE html>
<html>


<body class="backgroundimg" background= "https://images.unsplash.com/photo-1456515003192-808f8e9ca393?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1e75f07c23b1acd8bd3b6e2a88f2487e">


  <!-- <div class="overlay"> -->



  <!-- </div> -->



    <div class="searchform">

    <% if current_user %>
    <%= form_for :q, url: interview_index_path do |f| %>
    <%= f.text_field :q, placeholder: "Company" %>

      <%= f.text_field :position, placeholder: "Position" %>
      <%= f.submit "Prep!" %>
      <% end %>

    <% else %>
    <form action="/users/sign_in", method="GET">
      <button> LOGIN </button>
    </form>
    <% end %>
  </div>


  <!-- bullets -->
  <ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
    </div>
    <div class="bullet-content">
      <h2>This Bullet Title</h2>
      <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
    </div>
    <div class="bullet-content">
      <h2>Another Bullet Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
    </div>
    <div class="bullet-content">
      <h2>Last Bullet Title</h2>
      <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
    </div>
  </li>
</ul>
<!--  -->



<footer><div class="circle">

</div></footer>
</body>
</html>
