
  <div class="searchform">

    <% if current_user %>
    <%= form_for :q, url: interview_index_path do |f| %>
    <%= f.text_field :q, placeholder: "Company" %>


    <div class="center">
      <select name="positions" class="custom-select positions" placeholder="Positions">

        <!-- FASHION -->
        <option value="1">Architecture / Drafting</option>
        <option value="1">Art / Design / Entertainment</option>
        <option value="1">Beauty / Wellness</option>
        <option value="1">Marketing / Advertising</option>

        <!-- CONSERVATIVE -->
          <option value="2">Accounting / Finance</option>
          <option value="2">Administrative</option>
          <option value="2">Analyst</option>
          <option value="2">Banking / Loan / Insurance</option>
          <option value="2">Human Resources</option>
          <option value="2">Legal</option>
          <option value="2">Medical / Healthcare</option>
          <option value="2">Real Estate</option>
          <option value="2">Science / Research</option>
          <option value="2">Senior Management</option>
          <option value="2">Human Resources</option>

        <!-- BUSINESS CASUAL -->
          <option value="3">Business Development / Consulting</option>
          <option value="3">Non-Profit / Volunteering</option>
          <option value="3">Product / Project Management</option>
          <option value="3">Sales / Customer Care</option>
          <option value="3">Security / Law Enforcement</option>
          <option value="3">Software Development / IT</option>
          <option value="3">Travel / Transportation</option>
          <option value="3">Writing / Editing / Publishing</option>
          <option value="3">Other</option>

          <!--  CASUAL -->
          <option value="4">Facilities / General Labor</option>
          <option value="4">Manufacturing / Production / Constructionr</option>
          <option value="4">Installation / Maintenance / Repair</option>
          <option value="4">Restaurant / Food Services</option>
          <option value="4">Retail</option>
          <option value="4">Skilled Trade</option>
          <option value="4">Sports / Fitness</option>
      </select>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <%= f.text_field :position, placeholder: "Position" %> -->
    <%= f.submit "Prep!", :class => 'prep' %>
    <% end %>
</div>


  <!-- bullets -->
  <div class="bulletcase">
    <ul class="bullets">
      <li class="bullet">
        <div class="bullet-icon bullet-icon-1">
        </div>
        <div class="bullet-content">
          <h2>Applying for the Job</h2>
          <p>
            Read and follow instructions carefully.
            Always take a few minutes to review the entire application.
          </p>
          <div class="modal">
            <label for="modal-1">
              <div class="modal-trigger">Read More</div>
            </label>
            <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal-fade-screen">
              <div class="modal-inner">
                <div class="modal-close" for="modal-1"></div>
                <h1>Applying for the Job</h1>
                <p class="modal-intro">Tips on applying for the job you want!</p>
                <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
              </div>
            </div>
          </div>

        </div>
      </li>
      <li class="bullet">
        <div class="bullet-icon bullet-icon-2">
        </div>
        <div class="bullet-content">
          <h2>Prepare for Interview</h2>
          <p>
            Arrive prepared with the information you need.
            Be sure to bring your resume, social security card, driver’s license, etc.
            It’s always better if have too much information than not enough.
          </p>
          <div class="modal">
            <label for="modal-2">
              <div class="modal-trigger">Read More</div>
            </label>
            <input class="modal-state" id="modal-2" type="checkbox" />
            <div class="modal-fade-screen">
              <div class="modal-inner">
                <div class="modal-close" for="modal-2"></div>
                <h1>Prepare for Interview</h1>
                <p class="modal-intro">How to prepare for that interview!</p>
                <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
              </div>
            </div>
          </div>

        </div>
      </li>
      <li class="bullet">
        <div class="bullet-icon bullet-icon-3">
        </div>
        <div class="bullet-content">
          <h2>Get the Job</h2>
          <p>Be confident!</p>

          <div class="modal">
            <label for="modal-3">
              <div class="modal-trigger">Read More</div>
            </label>
            <input class="modal-state" id="modal-3" type="checkbox" />
            <div class="modal-fade-screen">
              <div class="modal-inner">
                <div class="modal-close" for="modal-3"></div>
                <h1>Get the Job</h1>
                <p class="modal-intro">How to get the job you want!</p>
                <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
              </div>
            </div>
          </div>


        </div>
      </li>
    </ul>
  </div>
  <!--  -->
  <% else %>
  <form action="/users/sign_in", method="GET">
    <button class="loginbutton"> LOGIN </button>
  </form>

    <p class="blurbtitle"> Welcome to Ready Set PreP</p>
    <p class="blurbcontent"> We are here to help you get ready for your next interview!
                            Have you ever need some guidance about prospective companies you are applying to?
                            Or need help with finding appropriate interview attire. Then this is the site for you!</p>

  <% end %>





  <footer><div class="circle">

  </div></footer>



  <script>
  $(function() {
    $("#modal-1").on("change", function() {
      if ($(this).is(":checked")) {
        $("body").addClass("modal-open");
      } else {
        $("body").removeClass("modal-open");
      }
    });

    $(".modal-fade-screen, .modal-close").on("click", function() {
      $(".modal-state:checked").prop("checked", false).change();
    });

    $(".modal-inner").on("click", function(e) {
      e.stopPropagation();
    });
  });
  </script>
