    <div class="styled-select slate">
      <select name="positions" class="positions">
        <option value="Accounting / Finance">Accounting / Finance</option>
        <option value="Administrative">Administrative</option>
        <option value="Analyst">Analyst</option>
        <option value="Architecture / Drafting">Architecture / Drafting</option>
        <option value="Art / Design / Entertainment">Art / Design / Entertainment</option>
        <option value="Banking / Loan / Insurance">Banking / Loan / Insurance</option>
        <option value="Beauty / Wellness">Beauty / Wellness</option>
        <option value="Business Development / Consulting">Business Development / Consulting</option>
        <option value="Education">Education</option>
        <option value="Engineering">Engineering</option>
        <option value="Facilities / General Labor">Facilities / General Labor</option>
        <option value="Hospitality">Hospitality</option>
        <option value="Human Resources">Human Resources</option>
        <option value="Installation / Maintenance / Repair">Installation / Maintenance / Repair</option>
        <option value="Legal">Legal</option>
        <option value="Manufacturing / Production / Construction">Manufacturing / Production / Construction</option>
        <option value="Marketing / Advertising / PR">Marketing / Advertising / PR</option>
        <option value="Medical / Healthcare">Medical / Healthcare</option>
        <option value="Non-Profit / Volunteering">Non-Profit / Volunteering</option>
        <option value="Other">Other</option>
        <option value="Product / Project Management">Product / Project Management</option>
        <option value="Real Estate">Real Estate</option>
        <option value="postion">Restaurant / Food Services</option>
        <option value="Retail">Retail</option>
        <option value="Sales / Customer Care">Sales / Customer Care</option>
        <option value="Security / Law Enforcement">Security / Law Enforcement</option>
        <option value="Skilled Trade">Skilled Trade</option>
        <option value="Software Development / IT">Software Development / IT</option>
        <option value="Sports / Fitness">Sports / Fitness</option>
        <option value="Travel / Transportation">Travel / Transportation</option>
        <option value="Writing / Editing / Publishing">Writing / Editing / Publishing</option>
      </select>
    </div>
