<div class="flex-boxes">
  <% unless @review == nil %>
  <a href="javascript:void(0)" class="flex-box">
  <div class="glassdoorContent">
    <p class="boldme">Headline:</p>
      <p><%= @review["headline"] %></p>
  </div>
  <div class="glassdoorContent">
    <p class="boldme">Pros:</P>
      <p> <%= @review["pros"] %></p>
  </div>
  <div class="glassdoorContent">
    <p class="boldme">Cons:</p>
      <p><%= @review["cons"] %></p>
  </div>
  </a>
    <% end %>
</div>
