<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box">

    <p><%= i.company %></p>
    <p>Experience:  <%= i.experience %></p>
    <p><%= i.length %></p>
    <p><%= i.difficulty %></p>

  </a>
</div>
