<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box">

    <p class="boldme marginbot"><%= i.company %></p><br>
    <p class="boldme marginbot">Experience</p><p> <%= i.experience %></p>
    <p class="smalltext"><%= i.length %></p>
    <p class="smalltext"><%= i.difficulty %></p>

  </a>
</div>
