<div id="columns">
  <% if @pins %>
  <% @pins.each do |p| %>
  <figure>
    <a href=<%= p.url %>>
      <img src=<%= p.image %>></img>
    </a>
    <figcaption><%= p.note %></figcaption>
  </figure>
  <% end %>
  <% end %>
</div>
