<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>







<div class="show">Show</div>
<div class="hide">Show</div>
<div class="pinwrapper"><!--slide down point -->

  <ul class="category-function-bar-items"><!-- board-name / hamburger menu -->


        <li id="fashionable">
          <button class="something" type="submit" onclick="myFunction()">Fashionable</button></li>
        <li id="conservative">
          <button class="something" type="submit" onclick="myFunction()">Conservative</button></li>
        <li id="bizcas">
          <button class="something" type="submit" onclick="myFunction()">Bizcas</button></li>
        <li id="casual"><button class="something"  type="submit" onclick="myFunction()">Casual</button></li>


  </div>







<!-- <div id="fashionable">
  <a href="#">
  <button class="something" type="submit">Fashionable</button></a>

</div> -->

<!-- <div id="conservative">
    <a href="#">
    <button class="something"type="submit">Conservative</button></a>
</div>

<div id="bizcas">
  <a href="#">
    <button class="something"type="submit">Bizcas</button></a>
</div>

<div id="casual">
  <a href="#">
    <button class="something"type="submit" >Casual</button></a>
</div>
-->


<!-- <div class="pinwrapper">
    <div class="fashionable">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/fashionable-interview-attire/">
      </a>
    </div>
    <div class="conservative">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/conservative-interview-attire/"></a>
    </div>
    <div class="bizcas">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/business-casual-interview-attire/"></a>
    </div>
    <div class="casual">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/casual-interview-attire/"></a>
    </div>

  </div>   -->
