<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>


<div class="pinwrapper">
    <div class="category-function-bar">
<!--   Styling for this page is in interview.css.scss  -->
      <ul class="category-function-bar-items">
          <form>
            <li id="fashionable">
                <button class="fashionable categoryButton" type="submit">Fashionable</button></li>
            <li id="conservative">
              <button class="conservative categoryButton" type="submit">Conservative</button></li>
            <li id="bizcas">
              <button class="bizcas categoryButton" type="submit">Buisness Casual</button></li>
            <li id="casual">
            <button class="casual categoryButton"  type="submit">Casual</button></li>
          </form>
        </ul>
      </div>
    </div>
<div class="searchdiv">Not finding what you're looking for?</div>


<div class="searchbar hidden">
      <div id="wrap">
      <input id="search" name="search" type="text" placeholder="What're we looking for ?">
      <button id="search_submit" class="myButton" type="submit">Search!</button>

      <div id="columns">
        <div class="shop"></div>
      </div>
    </div>
  </div>
