<div class="pinwrapper">
    <div class="fashionable">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/fashionable-interview-attire/">
      </a>
    </div>
    <div class="conservative">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/conservative-interview-attire/"></a>
    </div>
    <div class="bizcas">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/business-casual-interview-attire/"></a>
    </div>
    <div class="casual">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/casual-interview-attire/"></a>
    </div>
  </div>
