<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>


<div class="pinwrapper">
  <div class="btn-nav-bar">
    <div class="category-function-bar">
      <ul class="category-funtion-bar-items">
        <form>
          <button class="fashionable" type="submit">Fashionable</button>
          <button class="conservative" type="submit">Conservative</button>
          <button class="bizcas" type="submit">Bizcas</button>
          <button class="casual"  type="submit" >Casual</button>
        </form>
      </ul>
    </div>
  </div>
</div>
