<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
<nav class="btn-nav-bar">
<div class="pinwrapper">

        <div>
          <a href="#">
          <button class="something" id="fashion" type="submit">Fashionable</button></a>
        </div>

        <div>
            <a href="#">
            <button class="something" id="conservative" type="submit">Conservative</button></a>
        </div>

        <div>
          <a href="#">
            <button class="something" id="business_casual" type="submit">Bizcas</button></a>
        </div>

        <div>
          <a href="#">
            <button class="something" id="casual" type="submit" >Casual</button></a>
        </div>


</div>
</nav>

<!-- <div class="pinwrapper">
    <div class="fashionable">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/fashionable-interview-attire/">
      </a>
    </div>
    <div class="conservative">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/conservative-interview-attire/"></a>
    </div>
    <div class="bizcas">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/business-casual-interview-attire/"></a>
    </div>
    <div class="casual">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/casual-interview-attire/"></a>
    </div>
<<<<<<< HEAD
  </div>   -->
