<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>

<button class="show">Category</button>
<button class="hide">Category</button>
<div class="searchdiv">Not finding what you're looking for?</div>
<div class="pinwrapper">
    <div class="category-function-bar">
      <ul class="category-function-bar-items">
          <form>

            <li id="fashionable">
                <button class="fashionable" type="submit">Fashionable</button></li>
            <li id="conservative">
              <button class="conservative" type="submit">Conservative</button></li>
            <li id="bizcas">

              <button class="bizcas" type="submit">Buisness Casual</button></li>

            <li id="casual">
            <button class="casual"  type="submit">Casual</button></li>
          </form>
        </ul>
      </div>
    </div>

<div class="searchbar">
      <div id="wrap">
      <input id="search" name="search" type="text" placeholder="What're we looking for ?">
      <button id="search_submit" type="submit">Search!</button>

      <div id="columns">
        <div class="shop"></div>
      </div>
    </div>
  </div>
