<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>

<div class="show">Other Options</div>
<div class="hide">Other Options</div>
<div class="pinwrapper"><!--slide down point -->

  <!-- <div class="btn-nav-bar"> -->
    <div class="category-function-bar">
      <ul class="category-function-bar-items"><!-- board-name / hamburger menu -->
          <form>

            <li id="fashionable">
                <button class="fashionable" type="submit" onclick="refresh">Fashionable</button></li>
            <li id="conservative">
              <button class="conservative" type="submit" onclick="refresh">Conservative</button></li>
            <li id="bizcas">
              <button class="bizcas" type="submit" onclick="refresh">Bizcas</button></li>
            <li id="casual">
            <button class="casual"  type="submit" onclick="refresh">Casual</button></li>
          </form>
        </ul>
      </div>
    </div>
