<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>

<div class="pinwrapper"><!-- board-name-wrapper -->
  <div class="btn-nav-bar"><!-- board-name / hamburger menu -->
    <button class="something" type="submit">Fashionable</button>
    <button class="something"type="submit">Conservative</button>
    <button class="something"type="submit">Bizcas</button>
    <button class="something" type="submit" >Casual</button>
  </div>

  <div class="category-function-bar" style="display: none;">
    <ul class="category-funtion-bar-items">
      <li id="fashionable"></li>
        <li id="conservative"></li>
          <li id="bizcas"></li>
            <li id="casual"></li>
    </ul>

    <button type="submit"
  </div>
</div>

<!-- <div id="fashionable">
  <a href="#">
  <button class="something" type="submit">Fashionable</button></a>

</div> -->

<!-- <div id="conservative">
    <a href="#">
    <button class="something"type="submit">Conservative</button></a>
</div>

<div id="bizcas">
  <a href="#">
    <button class="something"type="submit">Bizcas</button></a>
</div>

<div id="casual">
  <a href="#">
    <button class="something"type="submit" >Casual</button></a>
</div>
-->


<!-- <div class="pinwrapper">
    <div class="fashionable">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/fashionable-interview-attire/">
      </a>
    </div>
    <div class="conservative">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/conservative-interview-attire/"></a>
    </div>
    <div class="bizcas">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/business-casual-interview-attire/"></a>
    </div>
    <div class="casual">
      <a data-pin-do="embedBoard" data-pin-board-width="250" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/readysetprep/casual-interview-attire/"></a>
    </div>
<<<<<<< HEAD
  </div>   -->
