<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>








<div class="show">Other Options</div>
<div class="hide">Other Options</div>
<div class="pinwrapper"><!--slide down point -->
<div class="category-function-bar">
<ul class="category-function-bar-items"><!-- board-name / hamburger menu -->
<form>

<li id="fashionable">
  <button class="fashionable" type="submit">Fashionable</button></li>
  <li id="conservative">
    <button class="conservative" type="submit">Conservative</button></li>
    <li id="bizcas">
      <button class="bizcas" type="submit">Bizcas</button></li>
      <li id="casual">
        <button class="casual"  type="submit">Casual</button></li>
      </form>
    </ul>
  </div>
</div>
