<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box">
    <p class="boldme glassdoorContent">Headline</p><p><%= f.headline %></p>
    <p class="boldme glassdoorContent">Pros </p><p> <%= f.pros %></p>
    <p class="boldme glassdoorContent">Cons </p><p> <%= f.cons %></p>
  </a>

</div>
