<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box">
    <p class="boldme ">Headline</p><p class="marginbot"><%= f.headline %></p>
    <p class="boldme">Pros </p><p class="marginbot"> <%= f.pros %></p>
    <p class="boldme">Cons </p><p class="marginbot"> <%= f.cons %></p>
  </a>

</div>
