<div id="wrap">
  <input id="search" name="search" type="text" placeholder="What're we looking for ?">
  <button id="search_submit" type="submit">Search!</button>
</div>



<div id="columns">
  <div class="shop"></div>
  <div class="defaultShop">
  <% if @shop %>
  <% @shop.each do |p| %>
  <figure>
    <a href=<%= p.site %>>
      <img src=<%= p.picture %>></img>
    </a>
    <figcaption><%= p.description %></figcaption>
  </figure>
  <% end %>
  <% end %>
</div>
</div>
