


<div id="wrap">
  <form action="" autocomplete="on">
  <input id="search" name="search" type="text" placeholder="What're we looking for ?"><input id="search_submit" value="Rechercher" type="submit">
  </form>
</div>



<div id="columns">
  <% if @shop %>
  <% @shop.each do |p| %>
  <figure>
    <a href=<%= p.site %>>
      <img src=<%= p.picture %>></img>
    </a>
    <figcaption><%= p.description %></figcaption>
  </figure>
  <% end %>
  <% end %>
</div>
