<h1> Hello World </h1>
<!--we need to each over or is nil?  -->
<!-- <div id="columns">
  <% @companiessaved.each do |p| %>
  <figure>
    <p=<%= p.@company %>> </p>
      <img src=<%= p.@position %>></img>
  </figure>
  <% end %>
</div> -->
