

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<h1 class="aboutustitle">About Us</h1>
<div class="aboutus">

   <!-- Alyssa -->
 <div class="col-1-3">
   <h1 class="name">
     Alyssa Pratt
   </h1>
<p>
  I am Junior Developer that specializes in
  Ruby on Rails. I have developed many applications both individually, and
  with team collaboration.
  I recently became interested in Computer Science when I took some basic
  HTML classes for General Education while I was getting my Bachelors Degree.
  I liked them so much that I considered switching even though I was in my
  third year of school. Fueled by my desire to learn Computer Science I enrolled
  in The Iron Yard after graduation. Ready-Set-Prep is a project that I have been interested
  in bringing to life for a long time, and The Iron Yard has given me a chance
  to do so. I am ready to test my skills and see what I can accomplish for a workplace!
</p>
<ul class="social-buttons" id="demo1">
  <li>
    <a href="https://twitter.com/Pratt0923"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/alyssa-pratt-7a2939ba"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="https://github.com/Pratt0923"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
  </li>
</ul>
</div>


<!-- Mary -->
<div class="col-1-3">
  <h1 class="name">
    Mary Howell
  </h1>
<p>
  I am an avid crafter and lover of fabric (with serious sewing skills).
  When I am not making everything from sweaters to gowns in my free time,
  I can be found using my new skills of Ruby on Rails as well as practicing front end
   development. I enjoy working in a collaborative environment where opportunities
   for growth abound, and the fast-paced atmosphere is balanced by a culture of working
   together to do their best.
</p>
<ul class="social-buttons" id="demo1">
  <li>
    <a href="https://www.linkedin.com/in/mary-howell-13200067"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="https://github.com/maryhowell"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
  </li>
</ul>
</div>



<!-- Rhonda -->
<div class="col-1-3">
  <h1 class="name">
    Rhonda Goolsby
  </h1>
<p>
  I'm a front-End Developer, with an extensive background in
  Landscape and Vegetative-roof design. I enjoy helping people turn their abstract ideas into reality.
  Html, Css, Sass, javaScript, jQuery and Angular are the tools I use now to create simple
  and intuitive interface designs and help people achieve their visions.
</p>

<ul class="social-buttons" id="demo1">
  <li>
    <a href="https://www.linkedin.com/in/rhonda-goolsby-64302a1b"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="https://github.com/rlgoolsby"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
  </li>
</ul>
</div>
</div>
