img{
  width: 3.5em;
  height: 3.5em;
}
ul{
  display:inline-block;
}

body{
  // height: 25em;

.aboutus-wrapper{
  margin-left: 1em;
  margin-right: 1em;
  // padding-top: 0.5em;
  // padding-bottom: 1em;
  background-color: #DEDEDE;
  border-radius: 5px;

.alyssa{
  margin-left: 10em;
  // margin-top: 0.2em;

    h2{
      font-size: 2em;
      font-weight: lighter;
      font-family: "Helvetica", Verdana, sans-serif;
      color: black;
    }
    p{
      top: 0;
      margin-left: 1.5em;
      font-weight: lighter;
      color:black;
    }
}


.mary{
  margin-left: 20em;
  // margin-top: 4em;
  h3{
    font-size: 2em;
    font-weight: lighter;
    font-family: "Helvetica", Verdana, sans-serif;
    color: black;
  }
  p{
    margin-left: 1.5em;
    font-weight: lighter;
    color:black;
  }
}


.rhonda{
  margin-left: 30em;
  // margin-top: 3em;

  h4{
    font-size: 2em;
    font-weight: lighter;
    font-family: "Helvetica", Verdana, sans-serif;
    color: black;
  }

  p{
    margin-left: 1.5em;
    font-weight: lighter;
    color:black;
  }
}
}
}
