.aboutus-wrapper{
  margin:0em 2em 0em 2em;
  background-color: #DEDEDE;
  border-radius: 5px;

.alyssa{
  margin-left: 7em;
  margin-top: 4em;
  img{
    width: 50px;
    height: 50px;
  }
    h2{
      font-size: 2em;
      font-weight: lighter;
      font-family: "Helvetica", Verdana, sans-serif;
      color: black;
    }
    p{
      margin-left: 1.5em;
      font-weight: lighter;
      color:black;
    }
}


.mary{
  margin-left: 15em;
  // margin-top: 4em;
  h3{
    font-size: 2em;
    font-weight: lighter;
    font-family: "Helvetica", Verdana, sans-serif;
    color: black;
  }
  p{
    margin-left: 1.5em;
    font-weight: lighter;
    color:black;
  }
}


.rhonda{
  margin-left: 22em;
  // margin-top: 3em;

  h4{
    font-size: 2em;
    font-weight: lighter;
    font-family: "Helvetica", Verdana, sans-serif;
    color: black;
  }
  p{
    margin-left: 1.5em;
    font-weight: lighter;
    color:black;
  }
}
}
