/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bourbon";
 @import "neat";
 @import "base/base";

 @font-face{
   font-family: 'Aquatico';
   font-style: normal;
   font-weight: normal;
   src: asset-url('Aquatico-Regular.otf') format("opentype");
 }

 @font-face {
   font-family: 'Aprillia';
   font-style: normal;
   font-weight: normal;
   src: asset-url('Aprillia-Script_TEST.otf') format("opentype");
 }
 .buttonsInNavBar {
   display: inline-block;
   float: right;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
    //  background-color: #f3f3f3;
     width: 100%;
 }

 .section {
   opacity: 1;
 }

 li {
   margin-right: 1.7em;
 }

 li a {
     display: inline;
    //  color: #666;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-family: 'Lato';
 }

 li a:hover {

    //  background-color: #ddd;
 }

 .glassdoorContent {
  //  background-color: #e6e5e7;
   margin-bottom: 7px;
   padding: 10px;
   border-radius: 2px;
 }

 a{
   text-decoration: none;
   text-align: center;
 }
 a:hover{
   text-decoration: none;
 }

 .flash {
   text-align: center;
   background-color:#DDF8F1;
   width: 30%;
 }

.sign-out {

}


 @import "landing-page";
 @import "sign-in";
 @import "aboutus";
 @import "interview";
 @import "user_info";
 @import "sign-up";
 @import "shop";
 @import "footer";
 @import "dropdownmenu";
 @import "navbar";
 @import "interviewquestions";
 @import "saved-interview";
