.positions {
  text-align: left;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-family: "Lato", Verdana, sans-serif;

}

.styled-select {
   height: 29px;
   overflow: hidden;
   width: 150%;
   text-align: center;
}

.styled-select select {
  //  background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 100%;
   text-align: center;

}

.styled-select.slate {
   height: 34px;
   width: 240px;
  //  margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
   text-align: center;
}

.slate   { background-color: #ddd; }

.slate select   { color: #000; }
