// Place all the styles related to the Interview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  width: 100%;
}
//I am sorry. the map is making me do this and i don't know how to fix it :(

#floating-panel {
  text-align: center;
  font-family: "Lato", Verdana, sans-serif;
}

.ratings {
  height: 24px;
  width: 115px;
  display: inline-block;

}

.flex-boxes {
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $flex-box-border-color: #52a494;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;
  $flex-box-color: transparentize($base-font-color, 0.3);
  $flex-box-top-colors:
    tomato,
    #72BFBF,
    #92B1E3,
    #E3D743,
    #CCC,
    #F6C05C;

  @include clearfix;
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .flex-box {
    align-self: stretch;
    // background: $flex-box-background;
    border-radius: $base-border-radius;
    // box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    flex: 2 2 15em;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border: solid;
    color: #52a494;

    @for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
      &:nth-child(#{$i}) {
        $color-from-list: nth($flex-box-top-colors, $i);
      }
    }

    .flex-title {
      color: #606c73;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    p {
      // color: transparentize($flex-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
      color: #606c73;
      // border: solid;
      // color: black;
      text-align: left;
    }
  }

  .flex-box-big {
    flex: 1 1 40em;
  }
}


.cards {
  width: 10em;
  height: 20em;
  display: inline-block;
  background-color: #DCDCDC;
  border-radius: 1em;
}

.insideimage {
  width: 9.5em;
  height: 19em;
  margin: auto;
  margin-top: 0.5em;
  border-radius: 1em;
}


.insidetext {
  margin: auto;
  margin-top: -3em;
}



body{
  font-family: "Lato", Verdana, sans-serif;
}



.bg-color{
	background-color: #46a1de;
	transition-duration: .5s;
}

.text-color{
	color: #46a1de;
	transition-duration: .5s;
}

footer{
	padding: 40px 0;
	text-align: center;
	opacity: .33;
	color: white;
}

.wrapper{
	min-width: 600px;
	max-width: 100%;
	margin: 0 auto;
}
#map {
  width: 100%;
  height: 40%;
}

.tabs{
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
  margin-top: 5%;
  border-bottom: solid;
  border-color: #52a494;

	li{
		transition-duration: .25s;
		display: table-cell;
		list-style: none;
		text-align: left;
		padding: 20px 20px 25px 20px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		color: black;
    font-size: 30px;

		&:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: #FCFDFD;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-duration: .25s;
			border-radius: 5px 5px 0 0;

		}

		&:hover{
			&:before{
				-webkit-transform: translateY(70%);
				transform: translateY(70%);
			}
		}

		&.active{
			color: #F7F8F8;

			&:before{
				transition-duration: .5s;
				background-color: #52a494;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
}







.accordion-tabs {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #DDF8F1 !default;
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: 40em !default;
  $tab-border: 1px solid $base-border-color;
  $tab-content-background: lighten($light-gray, 10);
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.5;
  margin-bottom: $base-spacing;
  padding: 0;

  @include media(max-width $tab-mode) {
    border: $tab-border;
    border-radius: $base-border-radius;
  }

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }

    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;

      @include media(max-width $tab-mode) {
        border-top: 0;
      }
    }

    &:last-child .tab-link {
      @include media(max-width $tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: bold;
    padding: ($base-spacing / 2) ($gutter / 2);
    text-decoration: none;

    @include media($tab-mode) {
      @include border-top-radius($base-border-radius);
      border-top: 0;
      display: inline-block;
    }

    &:hover {
      color: $action-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      background-color: $tab-active-background;

      @include media($tab-mode) {
        background-color: $tab-active-background;
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    background: $tab-content-background;
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;

    @include media($tab-mode) {
      border: $tab-border;
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      float: left;
    }
  }
}

// pintrest boxes for testing

@font-face{font-family:'Calluna';
 src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}
body {
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
#columns {
	column-width: 320px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	// transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
	// opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}

/** PINTREST STYLING **/
.pinwrapper {/**  board-name-wrapper **/
  margin: 15px;
  // height: 360px;
  width: 100%;
  display: -webkit-box;
  // padding: 10px;
  // display:inline;

}


.show{
margin: 10px;
padding: 0.8em 1em;
color: white;
background-color: rgba(51, 51, 51, 0.7);
// border-radius: 5px;
text-align: center;
// display: inline;
}

.hide{
display: none;
margin: 10px;
padding: 0.8em 1em;
color: white;
background-color: rgba(51, 51, 51, 0.7);
// border-radius: 5px;
text-align: center;
}

.hide:hover {
  cursor: pointer;
}

.show:hover {
  cursor: pointer;
}


.category-function-bar-items{
  display: none;
  width: 100%;
  height: 6em;

}




.board-function-bar {
  background: #fff;
  color: grey;
  .board-function-bar-item {
    display: inline-block;
    margin: 5px;
  }

}
.outfit-choice{
  text-align:center;
}

#fashionable {
  margin-left: 2em;
  position: relative;
  padding: 2%;

}
#conservative {
  position: relative;
  padding: 2%;

}

#bizcas {
  position: relative;
  padding: 2%;
}
#casual {
  position: relative;
  padding: 2%;
}

// .myOtherBtn{
//   color: pink;
// }

.savedinterviews {
  top: -45px;
  position: relative;
}


#map {
  height: 240px;
}

.save {
  font-size: 16px;
  float: right;
  padding: $small-spacing $base-spacing;
}

.chosencompany {
  text-align: center;
  font-size: 20px;
  margin-top: 1em;
}

.searchdiv {
  margin: 10px;
  padding: 0.8em 1em;
  color: white;
  background-color: rgba(51, 51, 51, 0.7);
  text-align: center;
}

.searchdiv:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}


// button

.myButton {
	background-color:#132B3E;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #343e44;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

}
.myButton:hover {
	background-color:#52a494;
}
.myButton:active {
	position:relative;
	top:1px;
}

.tabtext {
  font-family: 'Arial';
}

.prep {
  background-color:#132B3E;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #343e44;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-top: 40px;
}

.savedinterviewheader {
  text-align: center;
  margin-top: 10%;
}
