button {
  background: #333;
  color: #fff;
  font-weight: bold;
  // padding: 1em 14.3em;
}
button:hover {
  background: #666;
}
button:focus {
  outline: 0;
}

/***  SIGN OUT BUTTON **/
.button_to{
  text-align: right;
  padding-right: 2em;
  padding-top: 0.5em;

}

.buttonTo {
  background: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

}
.buttonTo:hover {
  background: #666;
}
/*************************/
.section{
  width: 100%;
  background-color:lightgrey;
}
/**  BACKGROUND IMAGE ***/
.backgroundimg{
    // position:fixed;
    top:0; left:0;
    width:100%;
    background: none;
    height:35em;
    padding-bottom:35%;
    overflow:hidden;
    z-index:1;
}
.backgroundimg:after {
    content:'';
    position:absolute;
    left:-600%;
    // right: -700%;
    width:1300%;
    padding-bottom:6300%;
    top: 83%;
    // bottom:11%;
    background:none;
    border-radius:50%;
    box-shadow: 0px 0px 0px 9999px;
    z-index:-2;

}
/*****************************************/


.buttonTo {
  background-color: lightgrey;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
 }

.searchform {
  background-color: #f2f0f4;
  opacity: 0.8;
  padding: 10px;
  width: 37%;
  left:30%;
  position: relative;
  border-radius: 6px;
  padding-left: 80px;
  padding:10px;
  color: black;
  font-weight: bold;
  .go{
    background-color: #666;
    }
    .go:hover{
      background-color: #333;

    }
    .go:focus {
      outline: 0;
    }
}


  #q_position{
    color: black;
    background-color: lightgrey;
    margin-top: 0.7em;
    // margin-left: -2.3em;
    font-size: 18px;
    padding-left: 1em;
    border: 2px solid black;
    outline: none;
  }
  #q_q{
    color: black;
    background-color: lightgrey;
    margin-top: 1em;
    font-size: 18px;
    // margin-left: -2.3em;
    padding-left: 1em;
    border: 2px solid black;
    outline: none;
  }




/***  BUTTON FOR LOGIN PAGE *******/
button{
  border-radius:100%;
  width: 136px;
  height: 136px;
  background-color: black;
  font-weight: bold;
  margin-top: 1em;
  margin-left: -0.5em;
  padding-right: 0.2em;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-size: 22px;
  font-family: 'Aquatico', Verdana, sans-serif;

}

/* stuff for bullets*/
.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;

  .bullet {
    flex-basis: 20em;
    flex-grow: 1;
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-content {
    margin-bottom: 2em;
    margin-left: $icon-bullet-size * 1.4;
  }

  h2 {
    // border-bottom: 1px solid transparentize($base-font-color, 0.8);
    // display: inline-block;
    // font-size: $icon-bullet-size / 2.5;
    // margin: 0 0 ($icon-bullet-size / 6) 0;
    // padding-top: $icon-bullet-size / 7;
    color: black;
    background-color: #f2f0f4;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}
.bulletcase {
  margin-top: 70px;
  margin-right: 45px;
}
