button {
  background: #333;
  color: #fff;
  font-weight: bold;
  // padding: 1em 14.3em;
}
button:hover {
  background: #666;
}
button:focus {
  outline: 0;
}

/***  SIGN OUT BUTTON **/
.button_to{
  text-align: right;
  padding-right: 2em;
  padding-top: 0.5em;

}

.buttonTo {
  background: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

}
.buttonTo:hover {
  background: #666;
}
/***** END OF SIGN-0UT BUTTON ***/


.section{
  width: 100%;
  background-color:lightgrey;

}


/**  BACKGROUND  ***/
.backgroundimg{
    // position:fixed;
    top:0; left:0;
    width:100%;
    background: none;
    height:35em;
    padding-bottom:35%;
    overflow:hidden;
    z-index:1;
}
.backgroundimg:after {
    content:'';
    position:absolute;
    left:-600%;
    // right: -700%;
    width:1300%;
    padding-bottom:6300%;
    top: 83%;
    // bottom:11%;
    background:none;
    border-radius:50%;
    box-shadow: 0px 0px 0px 9999px;
    z-index:-2;

}
/*****************************************/


// .buttonTo {
//   background-color: lightgrey;
//   border-radius: 5px;
//   cursor: pointer;
//   outline: none;
//   font-weight: bold;
//  }


/**************************************************/
/** WRAPPER FOR COMPANY, POSITION AND PREP AREA **/
.searchform {
  // background-color: #f2f0f4;
  opacity: 0.8;
  padding: 10px;
  width: 37%;
  height: 30%;
  left:30%;
  position: relative;
  padding-left: 80px;
  padding:10px;
  color: black;
  font-weight: bold;
  margin: 50px;
  border-style: solid;
  border-color: #f2f0f4;
  text-align: center;
}

/**********************************/
/** DROP-DOWN MENU **/

/***  unordered list**/
.jobcat{
  border-radius: 6px;
  background-color: lightgrey;
  width: 100%;
  height: 120px;
  whitespace: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;

}

/*** list-items   **/
.kinds-of{
  font-family: "Lato", Verdana, sans-serif;
  cursor: pointer;
  padding-left: 5px;
  text-transform: uppercase;
  padding-top: 15px;
  color: black;
}
/*****  END OF DROP-DOWN MENU *****/



/**  INPUT BOX FOR COMPANY NAME **/
  #q_q{
    color: black;
    background-color: lightgrey;
    margin-top: 1em;
    font-size: 18px;
    // margin-left: -2.3em;
    padding-left: 1em;
    border: 2px solid black;
    outline: none;
  }


.prep{
  // margin-top: 4em;
}
/**  END OF SEARCHFORM    ********/




/***  BUTTON FOR LOGIN PAGE *******/
.loginbutton {
  border-radius:100%;
  width: 136px;
  height: 136px;
  background-color: black;
  font-weight: bold;
  margin-left: -0.5em;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-size: 22px;
  font-family: 'Aquatico', Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

/* stuff for bullets*/
.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;

  .bullet {
    flex-basis: 20em;
    flex-grow: 1;
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-content {
    margin-bottom: 2em;
    margin-left: $icon-bullet-size * 1.4;
  }

  .bullet-content p {
    text-align: justify;
  }
  .bullet-content h2 {
    text-align: left;
  }

  h2 {
    // border-bottom: 1px solid transparentize($base-font-color, 0.8);
    // display: inline-block;
    // font-size: $icon-bullet-size / 2.5;
    // margin: 0 0 ($icon-bullet-size / 6) 0;
    // padding-top: $icon-bullet-size / 7;
    color: black;
    background-color: #f2f0f4;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
    font-family: "Lato", Verdana, sans-serif;
  }

  img {
    max-width: 100%;
  }
}
.bulletcase {
  margin-top: 70px;
  margin-right: 45px;
  // opacity: .7;
}

/// model css
.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
    font-family: "Lato", Verdana, sans-serif;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    // display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-state {
    display: none;
  }

  .modal-trigger {
    margin: 10px;
    padding: 0.8em 1em;
    color: white;
    background-color: $blue;
    border-radius: 5px;
    text-align: center;
  }

  .modal-fade-screen { // overlay
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {
      padding-top: 10em;
    }

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &::after,
    &::before {
      @include position(absolute, 3px 3px 0 50%);
      @include size(1.5em);
      background: $modal-close-color;
      content: "";
      display: block;
      margin: -3px 0 0 -1px;
      transform: rotate(45deg);
    }

    &:hover::after,
    &:hover::before {
      background: darken($modal-close-color, 10%);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  .modal-inner {
    background: $modal-background;
    border-radius: $base-border-radius;
    margin: auto;
    margin-top: 0;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    transition: opacity 0.25s ease;
    width: 95%;

    @include media($medium-screen) {
      max-height: 70%;
      padding: $modal-padding;
      width: 60%;
    }

    @include media($large-screen) {
      width: 50%;
    }

    h1 {
      color: $base-font-color;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color: $base-font-color;

      @include media($medium-screen) {
        columns: 2 8em;
      }
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}

// blurb for login page

.blurbtitle {
  font-size: x-large;
  text-align: center;
  padding: inherit;
  font-family: Tahoma, Geneva, sans-serif;
}

.blurbcontent {
  font-size: medium;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}
//

/*******  Media query for searchform landingpage area  ***/
@media (min-width: 320px) and (max-width: 749px) {

  .searchform {
    width: 250px;

  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  .searchform {
    width: 300px;

  }
}

@media (min-width: 1025px) {
  .searchform {
    width: 350px;

  }
}
