.sign-up-wrapper{
  text-align: center;
}

  #new_user{
    text-align: center;
    padding-top: 1em;
  }
  .field{
    text-align: center;
    padding-top: 0.5em;
    background-color: #52a494;
    margin-left: auto;
    margin-right: auto;
    width: 25em

  }
  label{
    margin-top: 2em;
    display: inline-block;
    font-size: 20px;
    color: #47494A;
    line-height: 1;
}

#user_email{
  margin: 0 auto;
  width: 20em;
  height: 2em;
  outline: none;
}
#user_password{
  margin: 0 auto;
  width: 20em;
  height: 2em;
  outline: none;
}
#user_password_confirmation{
  margin: 0 auto;
  width: 13em;
  height: 1.5em;
  outline: none;
}

.actions{
  padding-top: 0.5em;
}
#ama-links{

  text-align: center;
}

.signup{
  width: 90px;
  padding: 15px;
  border: solid;
  border-width: 1px;
  display: block;
  margin-left: 30%;
  margin-right: auto;
}
