.form-wrapper{
  text-align: center;
  padding-top: 0.5em;
  .field{
    padding-top: 1em;
    padding-right: 5em;
  }

    label{
      font-size: 20px;
    }
    #user_email{
      width: 15em;
      height: 1.5em;
      outline: none;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    #user_password{
      width: 15em;
      height: 1.5em;
      outline: none;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .actions{
      padding-right: 4em;
    }
}

    img{
      width: 156px;
      height: 32px;
    }

.amazon-wrapper{
  text-align: center;
}
