.sign-up-wrapper{
  text-align: center;
}

  #new_user{
    text-align: center;
    padding-top: 1em;
  }
  .field{
    text-align: center;
    padding-top: 0.5em;

  }
  label{
    font-size: 20px;
    // font-family: "Aquatico",Verdana, sans-serif;
    color: #47494A;
    opacity: 0.8;

}

#user_email{
  margin: 0 auto;
  width: 13em;
  height: 1.5em;
  outline: none;
}
#user_password{
  margin: 0 auto;
  width: 13em;
  height: 1.5em;
  outline: none;
}
#user_password_confirmation{
  margin: 0 auto;
  width: 13em;
  height: 1.5em;
  outline: none;
}

.actions{
  padding-top: 0.5em;
}
#ama-links{

  text-align: center;
}

.signup{
  width: 90px;
  padding: 15px;
  border: solid;
  border-width: 1px;
  display: block;
  margin-left: 30%;
  margin-right: auto;
}
