.sign-up-wrapper{
  text-align: center;
}

#new_user{
  text-align: center;
  padding-bottom: 1em;
}
.field{
  text-align: center;
  padding-top: 0.5em;
  background-color: #52a494;
  margin-left: auto;
  margin-right: auto;
  width: 24em;
  border-radius: 5px;
}
label{
  margin-top: 2em;
  display: inline-block;
  font-size: 20px;
  color: white;
  line-height: 1;
}

.remember_me_label {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

#user_email{
  margin: 0 auto;
  width: 20em;
  border: none;
  border-bottom: 2px solid white;
  background-color: inherit;
  height: 2em;
  outline: none;
}
#user_email:hover {
  border-bottom: 3px solid white;
  width: 21em;
}

#user_password{
  margin: 0 auto;
  width: 20em;
  border: none;
  border-bottom: 2px solid white;
  background-color: inherit;
  height: 2em;
  outline: none;
}

#user_password:hover{
  border-bottom: 3px solid white;
  width: 21em;
}
#user_password_confirmation{
  margin: 0 auto;
  width: 20em;
  border: none;
  border-bottom: 2px solid white;
  background-color: inherit;
  height: 2em;
  outline: none;
}
#user_password_confirmation:hover {
  border-bottom: 3px solid white;
  width: 21em;
}

.actions{
  padding-top: 0.5em;
}

#ama-links{
  text-align: center;
}

.signup{
  width: 90px;
  padding: 15px;
  border: solid;
  border-width: 1px;
  display: block;
  margin-left: 30%;
  margin-right: auto;
}

.login-button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  font-family: 'Aquatico';
  color: #52a494;
  border-radius: 3px;
  margin-bottom: 1em;
  font-size: 20px;
}
.login-button:hover {
  background-color: red;
}

.sign--up{
  border-radius: 5px;
  padding-top: 0.5em;
  font-family: 'Aquatico';
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  color: #52a494;
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.sign--up:hover{
  background-color:red;
}

.white_text {
  color: white;
}

.white_hover:hover {
  color: white;
}
