.form-wrapper{
  text-align: center;
  padding-top: 0.5em;
  .field{
    padding-top: 1em;
    padding-right: 5em;
  }

    label{
      font-size: 20px;
    }
    #user_email{
      width: 20em;
      height: 2em;
      outline: none;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    #user_password{
      width: 20em;
      height: 2em;
      outline: none;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .actions{
      padding-right: 4em;
    }
}

    img{

      width: 156px;
      // height: 32px;
    }

.amazon-wrapper{
  text-align: center;
}

.maintitle{
  height: 17%;
  top: 50px;
  width: 55%;
  left: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
}

.login {
  width: 90px;
  padding: 15px;
  border: solid;
  border-width: 1px;
  display: block;
  margin-left: 60%;
  margin-top: -55px;
}

.behindtitle {
  position: absolute;
  width: 75%;
  top: -2px;
  left: 160px;
  z-index: -1;
}

.sign-up {
  margin-left: auto;
    margin-right: auto;
    display: block;
}
